@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP|Average+Sans");

// COLORS
$FOREGROUND_COLOR: rgb(205, 202, 194);
$MAINCONTENT_COLOR: rgb(169, 185, 210);
$ANCHOR_COLOR: rgb(160, 189, 228);
$LABEL_COLOR: rgb(213, 209, 203);
$INPUT_COLOR: rgb(223, 220, 215);
$TITLE_COLOR: rgb(201, 197, 189);
$BACKGROUND_COLOR: rgb(24, 26, 27);
$DARK_COLOR: rgb(29, 30, 32);
$BORDER_COLOR: rgb(58, 58, 58);
$BUTTON_COLOR: rgb(67, 72, 92);
// DIMENSIONS
$HERO_FOOTER_HEIGHT: 42px;
$LINE_SPACE: 1.6;
$LETTER_SPACE: .05em;
$ROW_SPACE: 30px;

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Average Sans', 'Noto Sans JP', 'Average Sans', 'Segoe UI', sans-serif;
  font-size: 14px;
  width: 100%;
  min-height: 100%;
}

body,
input,
textarea,
select,
button {
  background-color: $BACKGROUND_COLOR;
  font-family: inherit;
}

body {
  color: $FOREGROUND_COLOR;

  //
  a {
    color: $ANCHOR_COLOR;
  }
}

h1,
h2,
h3,
p {
  line-height: $LINE_SPACE;
  letter-spacing: $LETTER_SPACE;
}

a[href^="tel:"] {
  pointer-events: none;
}

// Bulma customize
.input,
.select select,
.textarea,
.button {
  background-color: $BACKGROUND_COLOR;
  border-color: $BORDER_COLOR;
  color: $LABEL_COLOR;
}

.label {
  color: $LABEL_COLOR;
}

.hero {
  background-image: url(../img/hero.jpg);
  background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url(../img/hero.jpg) no-repeat center bottom;
  background-size: cover;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 100vh;

  &.is-large {
    .hero-body {
      padding: 0;
    }
  }

  .navbar {
    .navbar-burger {
      color: $FOREGROUND_COLOR;
    }
  }

  //
  .title {
    font-size: 3rem;
    color: whitesmoke;
  }

  //
  .subtitle {
    padding: 5px;
    color: whitesmoke;
  }

  //
  .profession {
    background-color: rgba(0, 0, 0, .6);
    margin-top: 45px;
    box-shadow: 0 0 4px #000;

    p {
      display: inline-block;
    }
  }

  //
  .hero-body {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      bottom: $HERO_FOOTER_HEIGHT;
      left: 0;
      right: 0;
      overflow: hidden;
    }

    //
    h2 {
      img {
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, .6);
      }
    }

    //
    .column {
      &.is-hidden-desktop {
        .subtitle {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }

  //
  .hero-foot {
    background: $BACKGROUND_COLOR;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);

    //
    .hero-foot--wrapper {

      //
      .hero-menu-desktop {
        text-transform: lowercase;
        letter-spacing: 1px;
        font-size: 1rem;

        //
        ul li {
          display: inline-block;
          padding-right: 15px;
          padding-left: 15px;

          &.is-active a {
            border-bottom: 2px solid #1f2c6c;
          }

          //
          a {
            color: $ANCHOR_COLOR;

            &:hover {
              color: $ANCHOR_COLOR;
              transition: all .2s ease-in-out;
              border-bottom: 2px solid #1f2c6c;
            }
          }
        }
      }

      //
      .columns {
        margin: 0;
      }
    }
  }
}

@media (max-width: 599px) {
  .hero {

    //
    .hero-body {
      &::after {
        bottom: 0;
      }
    }

    //
    .hero-foot {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .column.is-6-desktop {
    width: 51%;
  }
}

.modal {
  //
  .modal-content {
    background-color: $BUTTON_COLOR;
    color: $FOREGROUND_COLOR;
    display: flex;
    flex-direction: column;
    &.dialog {
      padding: 24px;
      border-radius: 4px;
      //
      .dialog-body {
        display: flex;
        align-items: center;
        padding-bottom: 24px;
        //
        .header-icon {
          margin-right: 15px;
        }
      }
      //
      .dialog-footer {
        display: flex;
        justify-content: center;
        border-top: 1px solid $BORDER_COLOR;
        padding-top: 24px;
      }
    }
    .button {
      &.is-hover,
      &:hover {
        color: inherit;
      }
    }
  }
}

.control {

  &.has-icons-left,
  &.control.has-icons-right {

    //
    .icon {
      color: $INPUT_COLOR;
    }
  }

  //
  .input,
  .textarea {
    &::placeholder {
      color: $BORDER_COLOR;
    }
  }
}

.main-content {
  color: $MAINCONTENT_COLOR;

  &>section {
    min-height: 100vh;
    padding: 60px 20px;

    &.about {
      background-color: $DARK_COLOR;

      //
      .concept {}

      //
      .policy {
        padding-top: 60px;
      }
    }

    &.company {
      background-color: $DARK_COLOR;

      //
      .is-larger {
        font-size: 1.2rem;
      }

      //
      .ceo-profile {
        margin-top: $ROW_SPACE;
      }
    }

    &.services {
      background-color: #43485c;

      //
      figure {
        margin-bottom: 1rem;
      }

      //
      .title,
      .subtitle {
        margin-bottom: $ROW_SPACE;
      }

      //
      .service-column {
        margin-bottom: $ROW_SPACE;
      }
    }

    &.achievement {

      //
      h1 {
        padding: 10px;
      }
    }

    &.contact {
      //
      &.inquiry {
        button { // MAX 2 buttons
          width: 40%;
        }
      }
      //
      button {
        width: 100%;
        background-color: #43485c;
        color: white;
        height: 50px;
        font-size: 1.1rem;
        text-transform: uppercase;
      }
    }

    //
    .title {
      margin-bottom: $ROW_SPACE;
    }
  }

  //
  .content {
    table {

      th,
      td {
        border: none;
      }

      td {
        &:first-child {
          text-align: right;
        }
      }
    }
  }

  // 
  .card {
    background-color: inherit;
    color: inherit;
    box-shadow: none;

    .card-content {
      padding: 0;
    }
  }

  //
  .section-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  //
  .tabs {
    &.is-boxed {
      ul {
        border-color: $BORDER_COLOR;

        li {
          &.is-active {
            a {
              background-color: $BORDER_COLOR;
              color: $FOREGROUND_COLOR;
              border-color: $BORDER_COLOR;
            }
          }

          a {
            background-color: inherit;
            color: $FOREGROUND_COLOR;
          }
        }
      }
    }
  }

  .tab-pane {
    display: none;
  }

  .is-active {
    display: block;
  }
}

.title,
.subtitle {
  line-height: $LINE_SPACE;
  font-weight: normal;
}

.title {
  color: $TITLE_COLOR;
}

.subtitle {
  color: $FOREGROUND_COLOR;
  font-size: 1rem;
}

.composition-ascii {
  font-size: 1.4em;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 0;
  height: 80px;
  text-align: center;
  background: #1f2c6c;
  color: whitesmoke;
  padding-top: 2rem;

  //
  a {
    padding: 0rem 1rem 1rem 1rem;
    color: lightgrey;

    //
    i {
      font-size: 1.5rem;
      padding: 0px 10px;
    }

    //
    .nav-item {
      color: whitesmoke;
    }
  }
}

.fa-download {
  color: #43485c;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(31, 44, 108, 0.65);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);

  &:hover {
    background-color: #43485c;
  }

  //
  a {
    color: white;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #43485c;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #1f2c6c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;

  //
  .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
  }
}

.timeline {
  .timeline-item {
    .timeline-content {
      p {
        padding-left: 1em;
        &::before {
          font-family: "Fontawesome";
          font-weight: 400;
          content: "\f274";
          color: rgb(219, 219, 219); // timeline foreground color
          padding-right: .4em;
          margin-left: -1.4em;
        }
      }
    }
  }
}

_:-ms-lang(x)::-ms-backdrop,
.timeline .timeline-item .timeline-content {
  /* IE11 のみ適用される */
  display: block !important;
  word-wrap: break-word;
}

_:-ms-lang(x)::-ms-backdrop,
.container {
  max-width: 100%;
}